.table {
    border-collapse: separate !important;
    border-spacing: 0 5px; /* Espaçamento vertical de 5px */
}

.table th {
    border: none !important; /* Remove todas as bordas */
    background-color: #00a3c7; /* Mantém a cor de fundo para os itens */
    color: white; /* Cor do texto */
    padding: 12px; /* Espaçamento interno */
}

i{
    font-size: larger; 
}

